In [2]:
%logstop
%logstart -rtq ~/.logs/DS_IO.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
import expectexception

# Importing and Exporting Data

<!-- requirement: data/sample.txt -->
<!-- requirement: data/csv_sample.txt -->
<!-- requirement: data/bad_csv.csv -->

So far we've only dealt with data that we have created within Python. Generating random data is helpful for testing out ideas, but we want to work with real data. Most often that data will be stored in a file, either locally on the computer or online. In this notebook we'll learn how to read and write data to files.

## Python file handles (`open`)

In Python we interact with files on disk using the commands `open` and `close`. We've included a file in the `data` folder called `sample.txt`. Let's open it and read its contents

In [4]:
f = open('./data/sample.txt', 'r')
data = f.read()
f.close()

print(data)
print(f)

Hello!
Congratulations!
You've read in data from a file.
<_io.TextIOWrapper name='./data/sample.txt' mode='r' encoding='UTF-8'>

Notice that we `open` the file  and assign it to `f`, `read` the data from `f`, and then close `f`. What is `f`? It's called a **file handle**. It's an object that connects Python to the file we `open`. We `read` the data using this connection, and then once we're done with `close` the connection. It's a good habit to `close` a file handle once we're done with it, so usually we will do it automatically using Python's `with` keyword.

In [5]:
# f is automatically closed
# at the end of the body of the with statement
with open('./data/sample.txt', 'r') as f:
    print(f.read())

print(f)

Hello!
Congratulations!
You've read in data from a file.
<_io.TextIOWrapper name='./data/sample.txt' mode='r' encoding='UTF-8'>

We can also read individual lines of a file.

In [6]:
with open('./data/sample.txt', 'r') as f:
    print(f.readline())

Hello!

In [7]:
with open('./data/sample.txt', 'r') as f:
    print(f.readlines())

['Hello!\n', 'Congratulations!\n', "You've read in data from a file."]

Writing data to files is very similar. The main difference is when we `open` the file, we will use the `'w'` flag instead of `'r'`.

In [8]:
with open('./data/my_data.txt', 'w') as f:
    f.write('This is a new file.')
    f.write('I am practicing writing data to disk.')

with open('./data/my_data.txt', 'r') as f:
    my_data = f.read()

print(my_data)

This is a new file.I am practicing writing data to disk.

No matter how often I execute the above cell, the same output gets printed. Opening the file with the `'w'` flag will overwrite the contents of the file. If we want to add to what is already in the file, we have to open the file with the `'a'` flag (`'a'` stands for _append_).

In [9]:
with open('./data/my_data.txt', 'a') as f:
    f.write('\nAdding a new line to the file.')

with open('./data/my_data.txt', 'r') as f:
    my_data = f.read()

print(my_data)

This is a new file.I am practicing writing data to disk.
Adding a new line to the file.

We always need to be careful when writing to disk, because we could overwrite or alter data by accident. It is also easy to encounter errors when working with files, because we might not know ahead of time if the file we're trying to access exists, or we might mix up the `'r'`, `'w'`, and `'a'` flags.

In [10]:
%%expect_exception IOError

# if a file doesn't exist
# we can't open it for reading
# (but we can open it for writing)

with open('./data/fail.txt', 'r') as f:
    f.read()

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-10-1f1268ec381a> in <module>()
      4 # (but we can open it for writing)
      5
----> 6 with open('./data/fail.txt', 'r') as f:
      7     f.read()

FileNotFoundError: [Errno 2] No such file or directory: './data/fail.txt'

In [11]:
%%expect_exception IOError

# we can't read a file open for writing

with open('./data/fail.txt', 'w') as f:
    f.read()

---------------------------------------------------------------------------
UnsupportedOperation                      Traceback (most recent call last)
<ipython-input-11-2396ab194fe8> in <module>()
      3
      4 with open('./data/fail.txt', 'w') as f:
----> 5     f.read()

UnsupportedOperation: not readable

In [12]:
%%expect_exception IOError

# and we can't write to a file open for reading

with open('./data/sample.txt', 'r') as f:
    f.write('This will fail')

---------------------------------------------------------------------------
UnsupportedOperation                      Traceback (most recent call last)
<ipython-input-12-415e83617ea3> in <module>()
      3
      4 with open('./data/sample.txt', 'r') as f:
----> 5     f.write('This will fail')

UnsupportedOperation: not writable

Can we prevent some of these errors? How do we find out what files are on disk?

## `os` module

Python has a module for navigating the computer's file system called `os`. There are many useful tools in the `os` module, but there are two functions that are most useful for finding files.

In [13]:
import os

# list the contents of the current directory
# ('.' refers to the current directory)
os.listdir('.')

['data',
 'DS_Pandas.ipynb',
 'DS_IO.ipynb',
 '.done',
 'DS_Classes_and_ORM.ipynb',
 'DS_Intro_Statistics.ipynb',
 'miniprojects',
 'DS_SQL.ipynb',
 '.ipynb_checkpoints',
 'DS_Basic_DS_Modules.ipynb',
 'DS_Data_Munging.ipynb']

The command `listdir` is the simpler of the two functions we'll cover. It simply lists the contents of the directory path we specify. When we pass `'.'` as the argument, `listdir` will look in the current directory. It lists all the Jupyter notebooks we're using for the course, as well as the `data` subdirectory. We could find out what's in the `data` subdirectory by looking in `'./data'`.

In [14]:
os.listdir('./data')

['sample.txt',
 'PEP_2016_PEPANNRES.csv',
 'customers.csv',
 'orders.csv',
 'products.csv',
 'fail.txt',
 'csv_sample.txt',
 'my_data.txt',
 'yelp.json.gz',
 'bad_csv.csv']

What if we wanted to find all the files and subdirectories below a directory somewhere on our computer? With `listdir` we only see the files and subdirectories under the particular directory we're looking in. We cannot use `listdir` to automatically search through subdirectories. For this we need to use `walk`, which "walks" through all the subdirectories below our chosen directory. We won't cover `walk` in this course, but it's one of the very useful tools (along with the `os.path` sub-module) for working with files in Python, particularly if you are working with many different data files at once.

## CSV files

One of the simplest and most common formats for saving data is as comma-separated values (CSV).

In [15]:
with open('./data/csv_sample.txt', 'r') as f:
    csv = f.read()

print(csv)

index,name,age
0,Dylan,28
1,Terrence,54
2,Mya,31

This format is often used to represent tables of data. Usually a CSV will have rows (separated by newline characters, `'\n'`) and columns (separated by commas). Otherwise they are no different from any other text file. We can use the special formatting of a CSV to create a list of lists representing the table.

In [16]:
list_table = []
with open('./data/csv_sample.txt', 'r') as f:
    for line in f.readlines():
        list_table.append(line.strip().split(','))

list_table

[['index', 'name', 'age'],
 ['0', 'Dylan', '28'],
 ['1', 'Terrence', '54'],
 ['2', 'Mya', '31']]

However, we can work with tabular data much more easily in a Pandas DataFrame. Pandas provides a `read_csv` method to read the data directly into a DataFrame.

In [17]:
import pandas as pd

df = pd.read_csv('./data/csv_sample.txt', index_col=0)
df

           name  age
index
0         Dylan   28
1      Terrence   54
2           Mya   31

The `read_csv` method is very flexible to deal with the formatting of different data sets. Some data sets will include column headers while others may not. Some data sets will include an index while others may not. Some data sets may have values separated by tabs, semicolons, or other characters instead of commas. There are options in the `read_csv` method for dealing with all of these. You can read about them in the [Pandas documentation on `read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). We'll also discuss it further in the [Pandas notebook](DS_Pandas.ipynb).

In [18]:
# an example of downloading
# and importing real data using `read_csv`

if 'factbook.csv' not in os.listdir('./data/'):
    !wget -P ./data/ https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv

countries = pd.read_csv('./data/factbook.csv', delimiter=';', skiprows=[1])
countries.head()

--2020-10-28 06:08:19--  https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv
Resolving perso.telecom-paristech.fr (perso.telecom-paristech.fr)... 137.194.2.165, 2001:660:330f:2::a5
Connecting to perso.telecom-paristech.fr (perso.telecom-paristech.fr)|137.194.2.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64856 (63K) [text/csv]
Saving to: ‘./data/factbook.csv’

factbook.csv        100%[===================>]  63.34K  --.-KB/s    in 0.08s

2020-10-28 06:08:21 (772 KB/s) - ‘./data/factbook.csv’ saved [64856/64856]

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,Afghanistan,647500,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
3,Algeria,2381740,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
4,American Samoa,199,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0

In [19]:
countries

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,Afghanistan,647500,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
3,Algeria,2381740,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
4,American Samoa,199,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
5,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,5.800000e+07,1.900000e+09,...,NaN,NaN,70549.0,NaN,NaN,NaN,35000.0,23500.0,1.29,0.0
6,Angola,1246700,44.64,-3.788000e+07,25.90,1.045000e+10,1.587000e+09,1.707000e+09,1.276000e+10,2.317000e+10,...,980000.0,2.288000e+10,11190786.0,NaN,2761.0,8.000000e+08,96300.0,130000.0,6.27,NaN
7,Anguilla,102,14.26,NaN,5.43,8.800000e+06,4.260000e+07,NaN,2.600000e+06,1.120000e+08,...,NaN,NaN,13254.0,NaN,NaN,NaN,6200.0,1800.0,1.73,8.0
8,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
9,Antigua and Barbuda,443,17.26,NaN,5.44,2.310000e+08,1.030000e+08,1.108000e+08,6.890000e+08,7.500000e+08,...,0.0,NaN,68722.0,NaN,NaN,NaN,38000.0,38200.0,2.26,11.0
10,Argentina,2766890,16.90,5.473000e+09,7.56,1.577000e+11,8.165000e+10,8.139000e+10,3.378000e+10,4.835000e+11,...,755000.0,2.900000e+09,39537943.0,118.0,34091.0,1.947000e+10,8009400.0,6500000.0,2.19,14.8
11,Armenia,29800,11.76,-2.404000e+08,8.16,9.050000e+08,5.797000e+09,6.492000e+09,8.500000e+08,1.365000e+10,...,0.0,NaN,2982904.0,NaN,845.0,5.550000e+08,562600.0,114400.0,1.32,30.0
12,Aruba,193,11.26,NaN,6.57,2.850000e+08,7.512000e+08,8.077000e+08,1.280000e+08,1.940000e+09,...,0.0,NaN,71566.0,NaN,NaN,NaN,37100.0,53000.0,1.79,0.6
13,Ashmore and Cartier Islands,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Australia,7686850,12.26,-3.830000e+10,7.44,3.087000e+11,1.956000e+11,2.103000e+11,8.689000e+10,6.117000e+11,...,537500.0,3.664000e+09,20090437.0,17.4,43802.0,3.514000e+10,10815000.0,14347000.0,1.76,5.1
15,Austria,83870,8.81,-3.283000e+09,9.70,1.550000e+10,5.509000e+10,5.849000e+10,1.027000e+11,2.559000e+11,...,20670.0,8.569000e+07,8184691.0,64.2,6021.0,1.273000e+10,3881000.0,7094500.0,1.36,4.4
16,Azerbaijan,86600,20.40,-2.899000e+09,9.86,1.832000e+09,1.737000e+10,1.755000e+10,3.168000e+09,3.001000e+10,...,312800.0,5.890000e+08,7911974.0,18.9,2957.0,8.750000e+08,923800.0,870000.0,2.44,1.2
17,Bahamas The,13940,17.87,NaN,8.97,3.085000e+08,1.596000e+09,1.716000e+09,6.360000e+08,5.295000e+09,...,0.0,NaN,301790.0,NaN,NaN,NaN,131700.0,121800.0,2.20,10.2
18,Bahrain,665,18.10,5.861000e+08,4.08,6.215000e+09,6.379000e+09,6.860000e+09,8.205000e+09,1.301000e+10,...,44000.0,1.260000e+08,688345.0,63.8,NaN,2.141000e+09,185800.0,443100.0,2.63,15.0
19,Baker Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bangladesh,144000,30.01,2.166000e+08,8.40,1.997000e+10,1.530000e+10,1.645000e+10,7.478000e+09,2.757000e+11,...,3581.0,2.845000e+07,144319628.0,43.0,2706.0,3.000000e+09,740000.0,1365000.0,3.13,40.0
21,Barbados,431,12.83,NaN,9.17,6.680000e+08,7.440000e+08,8.000000e+08,2.060000e+08,4.569000e+09,...,1271.0,1.254000e+06,279254.0,NaN,NaN,NaN,134000.0,140000.0,1.65,10.7
22,Bassas da India,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Belarus,207600,10.83,-1.119000e+09,14.15,6.000000e+08,3.430000e+10,3.000000e+10,1.147000e+10,7.050000e+10,...,36000.0,NaN,10300483.0,NaN,5523.0,7.702000e+08,3071300.0,1118000.0,1.39,2.0
24,Belgium,30528,10.48,1.140000e+10,10.22,2.830000e+10,7.882000e+10,7.658000e+10,2.557000e+11,3.162000e+11,...,0.0,NaN,10364388.0,96.2,3518.0,1.445000e+10,5120400.0,8135500.0,1.64,12.0
25,Belize,22966,29.34,-1.150000e+08,6.04,1.362000e+09,1.088000e+08,1.170000e+08,4.014000e+08,1.778000e+09,...,0.0,NaN,279457.0,NaN,NaN,1.111000e+08,33300.0,60400.0,3.68,12.9
26,Benin,112620,41.99,-1.599000e+08,13.76,1.600000e+09,5.652000e+08,2.852000e+08,7.209000e+08,8.338000e+09,...,700.0,4.105000e+06,7460025.0,NaN,578.0,8.393000e+08,66500.0,236200.0,5.86,NaN
27,Bermuda,53,11.60,NaN,7.63,1.600000e+08,5.980000e+08,6.430000e+08,8.790000e+08,2.330000e+09,...,0.0,NaN,65365.0,NaN,NaN,NaN,56000.0,37873.0,1.89,5.0
28,Bhutan,47000,34.03,NaN,12.94,2.450000e+08,3.129000e+08,2.001000e+09,1.540000e+08,2.900000e+09,...,0.0,NaN,2232291.0,NaN,NaN,NaN,25200.0,22000.0,4.81,NaN
29,Bolivia,1098580,23.76,2.730000e+08,7.64,5.439000e+09,3.848000e+09,4.132000e+09,1.986000e+09,2.233000e+10,...,39000.0,4.588000e+08,8857870.0,NaN,3519.0,1.214000e+09,600100.0,1401500.0,2.94,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Tanzania,945087,38.16,-3.274000e+08,16.71,7.321000e+09,2.566000e+09,2.727000e+09,1.248000e+09,2.371000e+10,...,0.0,0.000000e+00,36766356.0,5.0,3690.0,2.175000e+09,149100.0,891200.0,5.06,NaN
234,Thailand,514000,15.70,6.736000e+09,7.02,5.059000e+10,1.061000e+11,1.189000e+11,8.791000e+10,5.248000e+11,...,225000.0,6.000000e+08,65444371.0,47.6,4071.0,4.830000e+10,6617400.0,26500000.0,1.88,1.5
235,Togo,56785,33.48,-1.256000e+08,11.80,1.400000e+09,4.512000e+08,1.088000e+08,6.631000e+08,8.684000e+09,...,0.0,NaN,5681519.0,NaN,568.0,2.674000e+08,60600.0,220000.0,4.61,NaN
236,Tokelau,10,NaN,NaN,NaN,0.000000e+00,NaN,NaN,9.800000e+04,1.500000e+06,...,NaN,NaN,1405.0,NaN,NaN,NaN,300.0,0.0,NaN,NaN
237,Tonga,748,25.18,NaN,5.35,6.340000e+07,2.306000e+07,2.479000e+07,2.700000e+07,2.440000e+08,...,0.0,NaN,112422.0,NaN,NaN,NaN,11200.0,9000.0,3.00,13.3
238,Trinidad and Tobago,5128,12.81,1.548000e+09,9.37,2.940000e+09,5.341000e+09,5.743000e+09,6.671000e+09,1.148000e+10,...,140000.0,9.900000e+08,1088644.0,54.4,NaN,2.927000e+09,325100.0,361900.0,1.75,10.4
239,Tromelin Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Tunisia,163610,15.50,7.185000e+07,5.09,1.471000e+10,1.005000e+10,1.072000e+10,9.926000e+09,7.088000e+10,...,72580.0,1.700000e+09,10074951.0,59.2,2152.0,3.509000e+09,1163800.0,1899900.0,1.75,13.8
241,Turkey,780580,16.83,-1.530000e+10,5.96,1.690000e+10,1.179000e+11,1.397000e+11,6.946000e+10,5.087000e+11,...,48000.0,2.884000e+08,69660559.0,74.3,8671.0,3.710000e+10,18916700.0,27887500.0,1.94,9.3
242,Turkmenistan,488100,27.68,1.140000e+08,8.78,2.400000e+09,8.908000e+09,1.141000e+10,4.000000e+09,2.760000e+10,...,162500.0,2.730000e+08,4952081.0,NaN,2440.0,3.034000e+09,374000.0,52000.0,3.41,60.0
243,Turks and Caicos Islands,430,22.23,NaN,4.28,NaN,4.650000e+06,5.000000e+06,1.692000e+08,2.160000e+08,...,0.0,NaN,20556.0,NaN,NaN,NaN,5700.0,1700.0,3.08,10.0
244,Tuvalu,26,21.91,NaN,7.22,NaN,NaN,NaN,1.000000e+06,1.220000e+07,...,NaN,NaN,11636.0,NaN,NaN,NaN,700.0,0.0,3.00,NaN
245,Uganda,236040,47.39,-5.908000e+08,12.80,3.865000e+09,1.401000e+09,1.775000e+09,6.217000e+08,3.939000e+10,...,0.0,NaN,27269482.0,73.9,1241.0,1.200000e+09,61000.0,776200.0,6.74,NaN
246,Ukraine,603700,10.49,4.584000e+09,16.42,1.637000e+10,1.320000e+11,1.800000e+11,3.291000e+10,2.991000e+11,...,72000.0,3.950000e+08,47425336.0,24.7,22473.0,1.133000e+10,10833300.0,4200000.0,1.40,3.5
247,United Arab Emirates,82880,18.78,6.300000e+09,4.26,5.900000e+09,3.651000e+10,4.512000e+10,6.948000e+10,6.367000e+10,...,2335000.0,9.780000e+10,2563212.0,17.6,NaN,1.864000e+10,1135800.0,2972300.0,2.94,2.4
248,United Kingdom,244820,10.78,-3.346000e+10,10.18,4.710000e+12,3.374000e+11,3.959000e+11,3.472000e+11,1.782000e+12,...,1957000.0,2.541000e+10,60441457.0,39.6,17186.0,4.873000e+10,34898000.0,49677000.0,1.66,4.8
249,United States,9631418,14.14,-6.465000e+11,8.25,1.400000e+12,3.660000e+12,3.839000e+12,7.950000e+11,1.175000e+13,...,7800000.0,2.245000e+10,295734134.0,65.0,228464.0,8.594000e+10,181599900.0,158722000.0,2.08,5.5
250,Uruguay,176220,14.09,1.818000e+08,9.06,1.280000e+10,5.878000e+09,8.536000e+09,2.200000e+09,4.927000e+10,...,0.0,NaN,3415920.0,NaN,2073.0,2.362000e+09,946500.0,652000.0,1.91,13.0
251,Uzbekistan,447400,26.22,4.619000e+08,7.95,4.351000e+09,4.666000e+10,4.770000e+10,3.700000e+09,4.759000e+10,...,143300.0,2.970000e+08,26851195.0,41.5,3950.0,1.603000e+09,1717100.0,320800.0,2.94,0.6
252,Vanuatu,12200,23.06,NaN,7.90,8.370000e+07,4.503000e+07,4.842000e+07,2.660000e+07,5.800000e+08,...,0.0,NaN,205754.0,NaN,NaN,NaN,6500.0,7800.0,2.77,NaN
253,Venezuela,912050,18.91,1.459000e+10,4.90,3.329000e+10,8.930000e+10,8.970000e+10,3.584000e+10,1.452000e+11,...,2600000.0,7.800000e+10,25375281.0,43.1,682.0,2.575000e+10,2841800.0,6463600.0,2.26,17.1
254,Vietnam,329560,17.07,-2.061000e+09,6.20,1.655000e+10,3.206000e+10,3.448000e+10,2.372000e+10,2.272000e+11,...,359400.0,6.500000e+08,83535576.0,65.9,2600.0,6.510000e+09,4402000.0,2742000.0,1.94,1.9
255,Virgin Islands,352,14.20,NaN,6.26,NaN,9.626000e+08,1.035000e+09,NaN,2.500000e+09,...,0.0,NaN,108708.0,NaN,NaN,NaN,69400.0,41000.0,2.19,9.3
256,Wake Island,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Wallis and Futuna,274,NaN,NaN,NaN,NaN,NaN,NaN,2.500000e+05,6.000000e+07,...,NaN,NaN,16025.0,NaN,NaN,NaN,1900.0,0.0,NaN,NaN
258,West Bank,5860,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
259,Western Sahara,266000,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
260,Yemen,527970,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
261,Zambia,752614,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
262,Zimbabwe,390580,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [20]:
# we can also use pandas to write CSV
# using the DataFrame's to_csv method

pd.DataFrame({'a': [0, 3, 10], 'b': [True, True, False]}).to_csv('./data/pd_write.csv')

pd.read_csv('./data/pd_write.csv', index_col=0)

    a      b
0   0   True
1   3   True
2  10  False

Sometimes a CSV won't be perfect. For example, maybe different rows have different numbers of commas. This makes it difficult to interpret the contents of the file as a table.

In [21]:
# the 3rd line only has 2 "columns"

!cat ./data/bad_csv.csv

index,name,age
0,Dylan,27
1,54
2,Mya,31

In [22]:
# what happens if we try to read this
# into a DataFrame using read_csv?

pd.read_csv('./data/bad_csv.csv', index_col = 0)

        name   age
index
0      Dylan  27.0
1         54   NaN
2        Mya  31.0

Pandas' `read_csv` method will do its best to construct a table out of a poorly formatted CSV, but it may make mistakes. For example, 54 was interpreted as a name instead of as an age, because there were only 2 columns in that line of the file. Data sets will often contain mistakes like bad formatting, missing data, or typos.

**Question:** How could we fix the badly formatted CSV so it would work with `read_csv`?

## JSON

JSON stands for JavaScript Object Notation. JavaScript is a common language for creating web applications, and JSON files are used to collect and transmit information between JavaScript applications. As a result, a lot of data on the internet exists in the JSON file format. For example, Twitter and Google Maps use JSON.

A JSON file is essentially a data structure built out of nested dictionaries and lists. Let's make our own example and then we'll examine an example downloaded from the internet.

In [23]:
book1 = {'title': 'The Prophet',
         'author': 'Khalil Gibran',
         'genre': 'poetry',
         'tags': ['religion', 'spirituality', 'philosophy', 'Lebanon', 'Arabic', 'Middle East'],
         'book_id': '811.19',
         'copies': [{'edition_year': 1996,
                     'checkouts': 486,
                     'borrowed': False},
                    {'edition_year': 1996,
                     'checkouts': 443,
                     'borrowed': False}]
         }
         
book2 = {'title': 'The Little Prince',
         'author': 'Antoine de Saint-Exupery',
         'genre': 'children',
         'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
         'id': '843.912',
         'copies': [{'edition_year': 1983,
                     'checkouts': 634,
                     'borrowed': True,
                     'due_date': '2017/02/02'},
                    {'edition_year': 2015,
                     'checkouts': 41,
                     'borrowed': False}]
         }

library = [book1, book2]
library

[{'title': 'The Prophet',
  'author': 'Khalil Gibran',
  'genre': 'poetry',
  'tags': ['religion',
   'spirituality',
   'philosophy',
   'Lebanon',
   'Arabic',
   'Middle East'],
  'book_id': '811.19',
  'copies': [{'edition_year': 1996, 'checkouts': 486, 'borrowed': False},
   {'edition_year': 1996, 'checkouts': 443, 'borrowed': False}]},
 {'title': 'The Little Prince',
  'author': 'Antoine de Saint-Exupery',
  'genre': 'children',
  'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
  'id': '843.912',
  'copies': [{'edition_year': 1983,
    'checkouts': 634,
    'borrowed': True,
    'due_date': '2017/02/02'},
   {'edition_year': 2015, 'checkouts': 41, 'borrowed': False}]}]

In [26]:
library[1]

{'title': 'The Little Prince',
 'author': 'Antoine de Saint-Exupery',
 'genre': 'children',
 'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
 'id': '843.912',
 'copies': [{'edition_year': 1983,
   'checkouts': 634,
   'borrowed': True,
   'due_date': '2017/02/02'},
  {'edition_year': 2015, 'checkouts': 41, 'borrowed': False}]}

We have two books in our `library`. Both books have some common properties: a title, an author, an id, and tags. Each book can have several tags, so we store that data as a list. Additionally, there can be multiple copies of each book, and each copy also has some unique information like the year it was printed and how many times it's been checked out. Notice that if a book is checked out, it also has a due date. It's convenient to store the information about the multiple copies as a list of dictionaries within the dictionary about the book, because every copy shares the same title, author, etc.

This structure is typical of JSON files. It has the advantage of reducing redundancy of data. We only store the author and title once, even though there are multiple copies of the book. Also, we don't store a due date for copies that aren't checked out.

If we were to put this data in a table, we would have to duplicate a lot of information. Also, since only one copy in our library is checked out, we also have a column with a lot of missing data.

|index|title|author|id|genre|tags|edition_year|checkouts|borrowed|due_date|
|:---:|:---:|:----:|::|:---:|:--:|:----------:|:-------:|:------:|:------:|
|0|The Prophet|Khalil Gibran|811.19|poetry|religion, spirituality, philosophy, Lebanon, Arabic, Middle East|1996|486|False|Null|
|1|The Prophet|Khalil Gibran|811.19|poetry|religion, spirituality, philosophy, Lebanon, Arabic, Middle East|1996|443|False|Null|
|2|The Little Prince|Antoine de Saint-Exupery|843.912|children|fantasy, France, philosophy, illustrated, fable|1983|634|True|2017/02/02|
|3|The Little Prince|Antoine de Saint-Exupery|843.912|children|fantasy, France, philosophy, illustrated, fable|2015|41|False|Null|

This is very wasteful. Since JSON files are meant to be shared quickly over the internet, it is important that they are small to reduce the amount of resources needed to store and transmit them.

We can write our `library` to disk using the `json` module.

In [27]:
import json

with open('./data/library.json', 'w') as f:
    json.dump(library, f, indent=2)

In [28]:
!cat ./data/library.json

[
  {
    "title": "The Prophet",
    "author": "Khalil Gibran",
    "genre": "poetry",
    "tags": [
      "religion",
      "spirituality",
      "philosophy",
      "Lebanon",
      "Arabic",
      "Middle East"
    ],
    "book_id": "811.19",
    "copies": [
      {
        "edition_year": 1996,
        "checkouts": 486,
        "borrowed": false
      },
      {
        "edition_year": 1996,
        "checkouts": 443,
        "borrowed": false
      }
    ]
  },
  {
    "title": "The Little Prince",
    "author": "Antoine de Saint-Exupery",
    "genre": "children",
    "tags": [
      "fantasy",
      "France",
      "philosophy",
      "illustrated",
      "fable"
    ],
    "id": "843.912",
    "copies": [
      {
        "edition_year": 1983,
        "checkouts": 634,
        "borrowed": true,
        "due_date": "2017/02/02"
      },
      {
        "edition_year": 2015,
        "checkouts": 41,
        "borrowed": false
      }
    ]
  }
]

In [29]:
with open('./data/library.json', 'r') as f:
    reloaded_library = json.load(f)

reloaded_library

[{'title': 'The Prophet',
  'author': 'Khalil Gibran',
  'genre': 'poetry',
  'tags': ['religion',
   'spirituality',
   'philosophy',
   'Lebanon',
   'Arabic',
   'Middle East'],
  'book_id': '811.19',
  'copies': [{'edition_year': 1996, 'checkouts': 486, 'borrowed': False},
   {'edition_year': 1996, 'checkouts': 443, 'borrowed': False}]},
 {'title': 'The Little Prince',
  'author': 'Antoine de Saint-Exupery',
  'genre': 'children',
  'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
  'id': '843.912',
  'copies': [{'edition_year': 1983,
    'checkouts': 634,
    'borrowed': True,
    'due_date': '2017/02/02'},
   {'edition_year': 2015, 'checkouts': 41, 'borrowed': False}]}]

In [30]:
# note that if we loaded it in without JSON
# the file would be interpreted as plain text

with open('./data/library.json', 'r') as f:
    library_string = f.read()

# this isn't what we want
library_string

'[\n  {\n    "title": "The Prophet",\n    "author": "Khalil Gibran",\n    "genre": "poetry",\n    "tags": [\n      "religion",\n      "spirituality",\n      "philosophy",\n      "Lebanon",\n      "Arabic",\n      "Middle East"\n    ],\n    "book_id": "811.19",\n    "copies": [\n      {\n        "edition_year": 1996,\n        "checkouts": 486,\n        "borrowed": false\n      },\n      {\n        "edition_year": 1996,\n        "checkouts": 443,\n        "borrowed": false\n      }\n    ]\n  },\n  {\n    "title": "The Little Prince",\n    "author": "Antoine de Saint-Exupery",\n    "genre": "children",\n    "tags": [\n      "fantasy",\n      "France",\n      "philosophy",\n      "illustrated",\n      "fable"\n    ],\n    "id": "843.912",\n    "copies": [\n      {\n        "edition_year": 1983,\n        "checkouts": 634,\n        "borrowed": true,\n        "due_date": "2017/02/02"\n      },\n      {\n        "edition_year": 2015,\n        "checkouts": 41,\n        "borrowed": false\n      }\n    ]\n  }\n]'

In [31]:
# Pandas can also read_json
# notice how it constructs the table
# does it represent the data well?

pd.read_json('./data/library.json')

,title,author,genre,tags,book_id,copies,id
0,The Prophet,Khalil Gibran,poetry,"[religion, spirituality, philosophy, Lebanon, ...",811.19,"[{'edition_year': 1996, 'checkouts': 486, 'bor...",NaN
1,The Little Prince,Antoine de Saint-Exupery,children,"[fantasy, France, philosophy, illustrated, fable]",NaN,"[{'edition_year': 1983, 'checkouts': 634, 'bor...",843.912

In [32]:
# and to_json
df.to_json('./data/example_df.json')

!head ./data/example_df.json

{"name":{"0":"Dylan","1":"Terrence","2":"Mya"},"age":{"0":28,"1":54,"2":31}}

We can download JSON files many ways. Sometimes we will download it manually, but we can also use `wget` like we did for the CSV example. Often we'll connect to a website's API which will respond using JSON.

Panda's `read_json` method is capable of connecting directly to a URL (whether it's the address of a JSON file or an API connection) and reading the JSON without saving the file to our computer.

In [33]:
pd.read_json('https://api.github.com/repos/pydata/pandas/issues?per_page=5')

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,milestone,comments,created_at,updated_at,closed_at,author_association,active_lock_reason,body,performed_via_github_app,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/37460,731119888,MDU6SXNzdWU3MzExMTk4ODg=,37460,ENH: support casting Int arrays with nulls to ...,...,None,0,2020-10-28 05:42:47+00:00,2020-10-28 05:42:47+00:00,NaT,CONTRIBUTOR,NaN,xref https://github.com/numpy/numpy/issues/176...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/37459,731025275,MDExOlB1bGxSZXF1ZXN0NTExMjI4ODEy,37459,Backport PR #37439 on branch 1.1.x (REGR: fix ...,...,{'url': 'https://api.github.com/repos/pandas-d...,0,2020-10-28 02:23:41+00:00,2020-10-28 02:24:58+00:00,NaT,NONE,NaN,Backport PR #37439: REGR: fix rank algo for re...,NaN,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/37458,731024393,MDExOlB1bGxSZXF1ZXN0NTExMjI4MjE0,37458,CLN: de-duplicate validator,...,None,0,2020-10-28 02:21:57+00:00,2020-10-28 02:21:57+00:00,NaT,MEMBER,NaN,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,NaN,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/37457,730990457,MDExOlB1bGxSZXF1ZXN0NTExMjA2MzQ4,37457,BUG: BusinessDay.apply_index with offset,...,None,0,2020-10-28 01:05:48+00:00,2020-10-28 01:05:48+00:00,NaT,MEMBER,NaN,- [ ] closes #xxxx\r\n- [x] tests added / pass...,NaN,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/37456,730979041,MDExOlB1bGxSZXF1ZXN0NTExMTk5MDc2,37456,TST/REF: misplaced .xs tests,...,None,0,2020-10-28 00:39:50+00:00,2020-10-28 00:56:37+00:00,NaT,MEMBER,NaN,,NaN,{'url': 'https://api.github.com/repos/pandas-d...

## Compressed files (Gzip)

Another way we save storage and network resources is by using **compression**. Many times data sets will contain patterns that can be used to reduce the amount of space needed to store the information.

A simple example is the following list of numbers: 10, 10, 10, 2, 3, 3, 3, 3, 3, 50, 50, 1, 1, 50, 10, 10, 10, 10

Rather than writing out the full list of numbers (18 integers), we can represent the same information with only 14 numbers: (3, 10), (1, 2), (5, 3), (2, 50), (2, 1), (1, 50), (4, 10)

Here the first number in each pair is the number of repetitions, and the second number in the pair is the actual value. We've successfully reduced the amount of numbers we need to represent the same data. Most forms of compression use a similar idea, although actual implementations are usually more complex.

In the world of data science, the most common compression is Gzip (which uses the [deflate algorithm](http://www.infinitepartitions.com/art001.html)). Gzip files end with the extension `.gz`.

In [35]:
!wget -P ./data/ https://archive.org/stream/TheEpicofGilgamesh_201606/eog_djvu.txt

--2020-10-28 06:20:36--  https://archive.org/stream/TheEpicofGilgamesh_201606/eog_djvu.txt
Resolving archive.org (archive.org)... 207.241.224.2
Connecting to archive.org (archive.org)|207.241.224.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘./data/eog_djvu.txt’

eog_djvu.txt            [ <=>                ] 201.44K  1.06MB/s    in 0.2s

2020-10-28 06:20:37 (1.06 MB/s) - ‘./data/eog_djvu.txt’ saved [206271]

In [36]:
import gzip

with open('./data/eog_djvu.txt', 'r') as f:
    text = f.read()

with gzip.open('./data/eog_djvu.txt.gz', 'wb') as f:
    f.write(text.encode('utf-8'))

!ls -lh ./data/eog*

-rw-r--r-- 1 jovyan users 202K Oct 28 06:20 ./data/eog_djvu.txt
-rw-r--r-- 1 jovyan users  60K Oct 28 06:20 ./data/eog_djvu.txt.gz

We were able to compress the text of The Epic of Gilgamesh to a third of its original size! Remember that compression depends on patterns in the data. Language has a lot of patterns, but what would happen if we scrambled all the letters in the text?

In [37]:
import numpy as np

with gzip.open('./data/eog_djvu_scrambled.txt.gz', 'wb') as f:
    f.write(np.random.permutation(list(text)))

!ls -lh ./data/eog*

-rw-r--r-- 1 jovyan users 202K Oct 28 06:20 ./data/eog_djvu.txt
-rw-r--r-- 1 jovyan users  60K Oct 28 06:20 ./data/eog_djvu.txt.gz
-rw-r--r-- 1 jovyan users 191K Oct 28 06:20 ./data/eog_djvu_scrambled.txt.gz

The scrambled version only compressed to two-thirds the size of the original. Compression won't perform very well on random data. Compression also doesn't work very well on data that is already small.

In [38]:
short_text = 'Hello'

with open('./data/short_text.txt', 'w') as f:
    f.write(short_text)

with gzip.open('./data/short_text.txt.gz', 'wb') as f:
    f.write(short_text.encode('utf-8'))

!ls -lh ./data/short_text*

-rw-r--r-- 1 jovyan users  5 Oct 28 06:21 ./data/short_text.txt
-rw-r--r-- 1 jovyan users 40 Oct 28 06:21 ./data/short_text.txt.gz

The compressed file is bigger than the plain text! That's because the compressed file includes a header, which takes up a small amount of extra space. Also, since the text is so short, it's not possible to use patterns to represent the text more efficiently. Therefore we usually save compression for large files.

You may have noticed that when we write Gzip files, we have been using a `'wb'` flag instead of a plain `'w'` flag. This is because Gzip is not plain text. When compressing the file we write _binary_ files. The files are not readable as plain text.

In [39]:
# we have to uncompress the file
# before we can read it

!cat ./data/short_text.txt.gz

�_�short_text.txt �H��� ����   

We should only use `'w'` for plain text files (which includes CSV and JSON). Using `'w'` instead of `'wb'` for Gzip files, or other files which are not plain text (e.g. images), could damage the file.

## Serialization (`pickle`)

Often we will want to save our work in Python and come back to it later. However, that work might be a machine learning model or some other complex object in Python. How do we save complex Python objects? Python has a module for this purpose called `pickle`. We can use `pickle` to write a binary file that contains all the information about a Python object. Later we can load that pickle file and reconstruct the object in Python.

In [40]:
pickle_example = ['hello', {'a': 23, 'b': True}, (1, 2, 3), [['dogs', 'cats'], None]]

In [41]:
%%expect_exception TypeError

# we can't save this as text
with open('./data/pickle_example.txt', 'w') as f:
    f.write(pickle_example)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-41-dc175613edd9> in <module>()
      2 # we can't save this as text
      3 with open('./data/pickle_example.txt', 'w') as f:
----> 4     f.write(pickle_example)

TypeError: write() argument must be str, not list

In [42]:
import pickle

# we can save it as a pickle
with open('./data/pickle_example.pkl', 'wb') as f:
    pickle.dump(pickle_example, f)

with open('./data/pickle_example.pkl', 'rb') as f:
    reloaded_example = pickle.load(f)

reloaded_example

['hello', {'a': 23, 'b': True}, (1, 2, 3), [['dogs', 'cats'], None]]

In [43]:
# the reloaded example is the same as the original

reloaded_example == pickle_example

True

Pickle is an important tool for data scientists. Data processing and training machine learning models can take a long time, and it is useful to save checkpoints.

Pandas also has `to_pickle` and `read_pickle` methods.

## NumPy file formats

NumPy also has methods for saving and loading data. They are straightforward to use. You may encounter these when working with certain machine learning libraries that require data be stored in NumPy arrays. NumPy arrays are also often used when working with image data.

In [44]:
sample_array = np.random.random((4, 4))
print(sample_array)

[[0.24647159 0.03414233 0.01780445 0.22617876]
 [0.27118896 0.08040682 0.17684209 0.41251832]
 [0.16271949 0.45872889 0.46244798 0.64562172]
 [0.68615223 0.25463773 0.17749874 0.05553372]]

In [45]:
# to save as plain text
np.savetxt('./data/sample_array.txt', sample_array)

In [46]:
!cat ./data/sample_array.txt

2.464715946772809696e-01 3.414233106681152652e-02 1.780444532717129213e-02 2.261787615303202381e-01
2.711889604055430780e-01 8.040682309576319131e-02 1.768420912360887387e-01 4.125183189058548860e-01
1.627194864478348491e-01 4.587288865053970044e-01 4.624479819889414367e-01 6.456217239306786260e-01
6.861522270732988149e-01 2.546377346359622873e-01 1.774987442432861551e-01 5.553372278592838551e-02

In [47]:
print(np.loadtxt('./data/sample_array.txt'))

[[0.24647159 0.03414233 0.01780445 0.22617876]
 [0.27118896 0.08040682 0.17684209 0.41251832]
 [0.16271949 0.45872889 0.46244798 0.64562172]
 [0.68615223 0.25463773 0.17749874 0.05553372]]

In [48]:
# to save as compressed binary
np.save('./data/sample_array.npy', sample_array)

In [49]:
!cat ./data/sample_array.npy

�NUMPY v {'descr': '<f8', 'fortran_order': False, 'shape': (4, 4), }
�D�a��?����{�?�N�T;�?�G��l��?P���([�?�Q�����?�&5�¢�?�,<�f�?�[����?�ZQg�[�?ʘ�k���?+һ���?�o����?챥�K�?Ԑ�bG��?p�a��n�?

In [50]:
print(np.load('./data/sample_array.npy'))

[[0.24647159 0.03414233 0.01780445 0.22617876]
 [0.27118896 0.08040682 0.17684209 0.41251832]
 [0.16271949 0.45872889 0.46244798 0.64562172]
 [0.68615223 0.25463773 0.17749874 0.05553372]]

## Topics used by not discussed:
- BASH commands (!)
- `wget`
- `str.split()`
- APIs

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*